#ArticleText {
    width: 75%;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

#articleDelete {
    position: inline-block;
    margin-left: 5px;
    max-height: 22px;
    max-width: 100px;
    min-height: 22px;
}

#ArticleText h1 {
    margin-bottom: 5px;
    font-family: 'Slabo 27px';

}

#ArticleText h2 {
    font-size: 15px;
}

#ArticleText p {
    margin: 3vh 10%;
}

@media all and (max-width: 800px) {
    #ArticleText {
        width: 99%;
        min-height: 60vh;
        overflow: auto;
    }
}