#ArticleText {
    background-color: skyblue;
    height:100%;
    width: 80%;
    display: flex;
    flex-direction: column
}

#articleDelete {
    position: inline-block;
    margin-left: 5px;
    max-height: 20px;
    max-width: 100px;
}