#ArticleText {
    background-color: skyblue;
    height:100%;
    width: 75%;
    display: flex;
    flex-direction: column
}

#articleDelete {
    position: inline-block;
    margin-left: 5px;
    max-height: 20px;
    max-width: 100px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    font-size: 15px;
}

p {
    margin: 3vh 10%;
}