#Comments {
    overflow: auto;
    height: 75vh;
    max-width: 100%;
    overflow: auto;
    margin: 0px;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px grey;


}

#commentContainer {
    max-width: 25%;
    height: 100%;

}

#addComment {
    min-height: 20px;
    height: 4%;
    width: 70%;
    position: relative;
    bottom: 20px;
    right: 0px;

}

#CommentQuery {
    margin-bottom: 30px;
}


.commentEntry {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border: 1px solid var(--lightprim);
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
}

select {
    margin-top: 10px;
}

.textAndVote {
    display: flex;
    flex-direction: row;

}

.btnAndInfo {
    border-style: solid;
    border-width: 1px;
    border-width: 0px 0px 2px 0px;
    border-color: var(--prim);
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.MasterComment {
    margin-bottom: 10px;
}

.btnAndInfo button {
  margin-left: 30px;
}
.btnAndInfo span {
    margin: 0px 3px;
}

#loadMore {
    width: 100%
}

#loadMore button {
    width: 80%;
}