@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

#NewArticle {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NewArticle form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    border: 3px solid var(--prim);
    height: 80%;
    font-family: 'Slabo 27px';
}
#NewArticle h2 {
    font-size: 30px;
    font-family: 'Slabo 27px';
}

#NewArticle form button {
    width: 10%;
    text-align: center;
}
#NewArticle label {
    margin-bottom: 10px;
}

#NewArticle input {
    margin-bottom: 30px;
}
#NewArticle textarea {
    margin-bottom: 30px;
}
#NewArticle button {
    margin-bottom: 10px;
}
#NewArticle select {
    margin-bottom: 30px;
    min-height: 20px;
}
#error {
    font-size: 20px;
    background-color: lightcoral;
    padding: 5px;
    border-radius: 3px;
}
#visitArticle {
    font-family: var(--font);
    border: 3px solid var(--prim);
    background-color: var(--prim);
    color: white;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 150px;
    background-color: var(--prim);
    transition-duration: 0.3s;
    margin: auto;
}
#visitArticle:hover {
    background-color: white;
    color: var(--prim);
    border-color: var(--prim);
    transition-duration: 0.3s;
}

.visitArticle {
    text-decoration: none;
}