.home {
    display: grid;
    grid-template: 1fr 8fr 1fr / 1fr 4fr;
    grid-template-areas: "head head"
    "side main"
    "foot foot";
    height: 100vh;
    width: 100vh;
    text-align: center;
}


.Header {
    grid-area: head;
    background-color: red;
}

.Footer {
    grid-area: foot;
    background-color: green;
}

.Articles {
    grid-area: main;
    background-color: blue;
}

.TopicSelect {
    grid-area: side;
    background-color: pink;
}